center
  object(classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="354" height="176")
    param(name="movie" value="circle.swf")
    param(name="quality" value="best")
    param(name="menu" value="true")
    param(name="allowScriptAccess" value="always")
    embed(src="circle.swf" quality="best" menu="true" width="700" height="176" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" allowscriptaccess="always")

each speed in [30,40,50,60,70]
  marquee(behavior="alternate" direction="left" width="100%" scrolldelay=speed truespeed)
    img(src="brown.png")
  marquee(behavior="alternate" direction="right" width="100%" scrolldelay=speed truespeed)
    img(src="brown.png")

each speed in [10, 13, 17, 25, 35]
  marquee(direction="left" width="100%" scrolldelay=speed truespeed)
    img(src="https://40.media.tumblr.com/tumblr_mek0u17fpg1rmdjoco1_500.jpg")