.horizontal-gradient(@startColor: #eee, @endColor: white) {
  background-color: @startColor;
  background-image: -webkit-gradient(linear, left top, right bottom, from(@startColor), to(@endColor));
  background-image: -webkit-linear-gradient(-45deg, @startColor, @endColor);
  background-image: -moz-linear-gradient(-45deg, @startColor, @endColor);
  background-image: -ms-linear-gradient(-45deg, @startColor, @endColor);
  background-image: -o-linear-gradient(-45deg, @startColor, @endColor);
}


body{
  font-family: "Helvetica";
  text-align: center;
  padding: 50px 20px 0;
  .horizontal-gradient(#fde,#dfe);
  color: #444;
  margin: 0;
}

h1{
  font-size: 65px;
  line-height: 1.2em;
  border-bottom: #CCC solid 1px;
  padding: 20px 0;
}

h3{
  font-weight: 300;
}